<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a class="nav-link px-2 text-secondary" routerLink="/">Home</a></li>
          <li><a class="nav-link px-2 text-white" routerLink="/features">Features</a></li>
          <li><a class="nav-link px-2 text-white" routerLink="/pricing">Pricing</a></li>
          <li><a class="nav-link px-2 text-white" routerLink="/faqs">FAQs</a></li>
          <li><a class="nav-link px-2 text-white" routerLink="/about">About</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>
        <div class="text-end" *ngIf="!auth.isLoggedIn()">
          <a class="btn btn-outline-light me-2" routerLink="/login">Login</a>
          <a class="btn btn-warning" routerLink="/register">Sign-up</a>
        </div>
        <div class="dropdown text-end" *ngIf="auth.isLoggedIn()">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><h6 class="dropdown-header">Signed in as</h6></li>
            <li><a class="dropdown-item" routerLink="/account/profile">{{ auth.getUserDetails()?.name }}</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="/account/profile">Your profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Help</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="auth.logout()">Sign out</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>
<router-outlet></router-outlet>
